.login__page h1 {
    margin-left: 20px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.login__form input {
    height: 25px;
    width: 200px;
}