@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;800&display=swap');

.menProducts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
    justify-content: center;
    gap: 30px;
    font-family: 'Roboto Slab', serif;
}

.wardrobe {
    display: flex;
    flex-direction: column;
}

.wardrobe img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    cursor: pointer;
}

.menClothes__details {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
}

.mens__price {
    text-align: center;
    font-weight: 500;
}